html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #232129;
  line-height: 1.5;
  font-size: 1.125rem;
  color-scheme: light dark;
}
main {
  width: min(100ch, 100% - 4rem);
  margin-inline: auto;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}
img,
svg,
video {
  max-width: 100%;
  display: block;
}
